<!-- if signed in display the counter -->
<% if signed_in? %>
       
       <%= render 'shared/starter' %>
       <%= render 'shared/test' %>

<% else %>



<!-- The Hero Unit --> 
<div class="center hero-unit-new">
    <h1>Stop wasting time. Start focusing.</h1>
    
    <%= link_to "Sign up", signup_path, class: "btn btn-success btn-xlarge" %>  

</div>


<!-- Product explanation -->

   <div id="middle-page-wrapper">  
   	<ul>
   		<li><a id="list_one" href="https://twitter.com/launch48", target="_blank"></a></li>
   		<li><a id="list_two" href="http://www.youtube.com/watch?v=1n5uFGk2pnc", target="_blank"></a></li>
   		<li><a id="list_three"></a></li>
    </ul>
       
       <br /><br /><br /><br /><br /><br />
   </div>
    
    
<!-- Wrapper to give the bottom section some color -->
 
    <div class="bottom-page-wrapper">      
      
<!-- Recommendations / case studies -->    
    <div id="mini_testimonials", class="row">
        <div class="span6">
            <p class="bubble">
                "I use FocusPush when I need time to answer my email. It is a great way to get me focus
                on the task at hand."
                </p>
            <p class="test_details">Tom Thorpe<br /><span>Entrepreneur</span></p>
        </div>
            
        <div class="span5">
            <p class="bubble">
                "Using FocusPush is so easy. It really helps me focus on what I need to do.... it's like my virtual teacher. 
                </p>
            <p class="test_details">Will Powell<br /><span>Academic</span></p>
        </div>    
    </div>
</div>


     
            <% end %>  
