<!-- if signed in display the counter -->
<% if signed_in? %>
       
       <%= render 'shared/timer' %>
       <%= render 'shared/test' %>

<% else %>

<!-- The Hero Unit -->
<div class="center hero-unit">
    <h1>Come meet Will Power.</h1>
    
    <%= link_to "Hi Will", signup_path, class: "btn btn-large btn-primary" %> <!-- Need to come back and chanage the contact path to signup path. -->

</div>

<!-- Top row of points -->
    <div class="row">
        
        <div class="span6">
            <h3><i class ="icon-time"></i>20 Minutes to focus</h3>  
                  
           <p>It is scientifically proven that spending 20 minutes working will make you a billionairre.
              That means this app will make you a billionaire. Guarenteed.  </p>
               
        </div>
        
        <div class="span6">
            
            <h3><i class="icon-thumbs-down"></i>Don't waste you're life on Facebook</h3>
           <p>Facebook is for chumps. Don't be a chump.</p>
          
       </div>
     </div>

<!-- Recommendations / case studies -->

    <hr />
    
<ul class="thumbnails">
                <li class="span4">
                    <div class="thumbnail-border">
                            <h5>This saved my life</h5>
                            <p>A look at how charities can use Twitter to build and manage a community.</p>
                    </div>
                </li>
                <li class="span4">
                    <div class="thumbnail-border">
                        <h5>This is worth billions</h5>
                            <p>This really could be billions.</p>
                    </div>
                </li>
                <li class="span4">
                    <div class="thumbnail-border">
                            <h5>Simon is amazing</h5>
                            <p>really really amazing </p>
                    </div>
                </li>
                
              </ul>
     
            <% end %>  
