<!-- if signed in display the counter -->
<% if signed_in? %>
       
       <%= render 'shared/timer' %>
       <%= render 'shared/test' %>

<% else %>



<!-- The Hero Unit --> 
<div class="center hero-unit">
    <h1>Come meet Will Power.</h1>
    
    <%= link_to "Hi Will", signup_path, class: "btn btn-primary btn-large" %>  

</div>

<!-- Top row of points -->
    <div class="row">
        
        <div class="span6">
            <h2>20 Minutes to focus</h2>  
                  
           <p>It is scientifically proven that spending 20 minutes working will make you a billionairre.
              That means this app will make you a billionaire. Guarenteed. We now need some filler
              to try an dmake this para looka  bit longer and then we can get a better understanidng of what it looks
              like. Its a shame I don't know Ipsum shitsum  </p>
               
        </div>
        
        <div class="span6">
            
            <h2>Don't waste you're life on Facebook</h2>
           <p>
               Facebook is for chumps. Don't be a chump.
               It is scientifically proven that spending 20 minutes working will make you a billionairre.
              That means this app will make you a billionaire. Guarenteed. We now need some filler
              to try an dmake this para looka  bit longer and then we can get a better understanidng of what it looks
              like. Its a shame I don't know Ipsum shitsum </p>
          
       </div>
     </div>

<!-- Social media links -->

    <hr />
    
    
    <div id="logos">
        <p> Follow Will Power at: </p>
    </div>
    
      <hr />
<!-- Recommendations / case studies -->    
    <div id="mini_testimonials", class="row">
        <div class="span6">
            <p class="bubble">
                "I use fooc.us when I need time to answer my email. It is a great way to get me focus
                on the task at hand."
                </p>
            <p class="test_details">Simon McCann<br /><span>Hero</span></p>
        </div>
            
        <div class="span6">
            <p class="bubble">
                "I created fooc.us because I spent a lot of time on Twitter and reading blogs.
                I needed fooc.us to be my mental mother."
                </p>
            <p class="test_details">Will Power<br /><span>fooc.us</span></p>
        </div>    
    </div>


     
            <% end %>  
