<!-- if signed in display the counter -->
<% if signed_in? %>
       
       <%= render 'shared/starter' %>
       <%= render 'shared/test' %>

<% else %>



<!-- The Hero Unit --> 
<div class="center hero-unit-new">
    <h1>Come meet Will Power.</h1>
    
    <%= link_to "Hi Will", signup_path, class: "btn btn-info btn-xlarge" %>  

</div>


<!-- Product explanation -->

   <div class="middle-page-wrapper">    
       <h1>Filler</h1>
       <h3>This is where Vickys crazy cartoons will go.</h3>
       <br /><br /><br /><br /><br /><br />
   </div>
    
    
<!-- Wrapper to give the bottom section some color -->
 
    <div class="bottom-page-wrapper">      
      
<!-- Recommendations / case studies -->    
    <div id="mini_testimonials", class="row">
        <div class="span6">
            <p class="bubble">
                "I use fooc.us when I need time to answer my email. It is a great way to get me focus
                on the task at hand."
                </p>
            <p class="test_details">Simon McCann<br /><span>Hero</span></p>
        </div>
            
        <div class="span5">
            <p class="bubble">
                "I created fooc.us because I spent a lot of time on Twitter and reading blogs.
                I needed fooc.us to be my mental mother."
                </p>
            <p class="test_details">Will Power<br /><span>fooc.us</span></p>
        </div>    
    </div>
</div>


     
            <% end %>  
