<h1>Admin Panel</h1>
	<div class="admin">

		<div class="admin_box">
			<p>Total number of users</p>
			<h1><%=@number_of_users %></h1>
		</div>
		
		<div class="admin_box">
			<p>Total number of tasks</p>
			<h1><%=@number_of_tasks%></h1>
		</div>
		
		<div class="admin_box">
			<p>Total number of minutes</p>
			<h1><%=@number_of_tasks * 20%></h1>
		</div>
		
		<div class="admin_box">
			<p>Average tasks per user</p>
			<h1><%=@number_of_tasks / @number_of_users%></h1>
		</div>
		
		<div class="admin_box">
			
		</div>
		
		<div class="admin_box">
			
		</div>
	</div>
