<div class="center hero-unit-new">
    <!-- <h1>Get ready to rumble</h1> -->
    
    <div class="row">
        <aside class="span5 offset4">
            <section>
                <%= render 'shared/task_form' %>
            </section>
          </aside>
        </div>
     
    
    <br />
    
    	<p>
        The moment you push that button.. 
        you will concentrate and master <strong>only</strong> what you write in that box. 
        When the time is up, your mind is free to wander in the meadows of idleness amongst
         the daisies of self-congratulations. <br /> 
        </p>

    	
</div>
