<div class="center hero-unit-new">
    <!-- <h1>Get ready to rumble</h1> -->
    
    <div class="row">
        <aside class="span5 offset4">
            <section>
                <%= render 'shared/task_form' %>
            </section>
          </aside>
        </div>
     
    
    <br />
    
    	<blockquote>
        <p>The key to getting a reputation for being brilliant is actually being brilliant, not just acting like you are.  </p>
        <p>Seth Godin</p>
        </blockquote>
        
    	
</div>
