<div class="center hero-unit-new">
    <!-- <h1>Get ready to rumble</h1> -->
    
    <div class="row">
        <aside class="span5 offset3">
            <section>
                <%= render 'shared/task_form' %>
            </section>
          </aside>
        </div>
    
   <!-- <%= link_to "Push the button", user_path(@user), class: "btn btn-success btn-xlarge" %>-->  
    
    <br />
    
    <!-- <h7>Woah! Will this cause something to explode?</h7> -->
    
    <p>
        This button starts the timer. This gifts you <strong>20 minutes</strong> of focus. 
        How you frame your time will change the way you work. <br /> 
        Here are some ideas for how to frame this time to suit you: 
        </p>

</div>