<div class="center hero-unit">
    <!-- <h1>Get ready to rumble</h1> -->
    
    <%= link_to "Push the button", user_path(@user), class: "btn btn-success btn-xlarge" %>  
    
    <br /> <br />
    
    <h7>Woah! Will this cause something to explode?</h7>
    
    <p>
        No. This starts the timer.
        You have 20 minutes to focus on the task at hand. At the end you will be rewarded
        by happiness and good feelings. 
        </p>

</div>