<h1 class="center">TIME = LIFE</h1> 
<h3>Waste your time and waste your life. <br />Master your time and master your life.</h3>
    <br />

<%= form_for(@task) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "What's your new task..?" %>
  </div>
   <%= f.submit "Push the button", class: "btn btn-success btn-xlarge" %>
  
<% end %>