<!-- This is the original code from the show.html.erb page. It is here so that it can be rendered when the user is signed in in 2 places> -->

<h1><%= @user.name %></h1>

<!-- Bottom layout. Showing how long we have used the button for and a little motivational picture. -->

<div class="row">
    <div class="span6 et-split">
        <h1>So far...</h1>
        <div class="row item">
            <div class="metrics">
              <h1>6</h1>
              <p class="et-label">times</p>  
            </div>
            <div>
                <h7>Push the button</h7>
                <p>So far you have pushed this many times. <br />That's Will Power.</p>
            </div>
        </div>
        <div class="row item">
            <div class="metrics">
              <h1>120</h1>
              <p class="et-label">minutes</p>    
            </div>
            <div>
                <h7>Woah! That's Will Power</h7>
                <p>This is how long you have been working for without <br /> those pescky habits.
                    That's Will Power. 
                </p>
            </div>
        </div>
        
<!-- Left hand side of the bottom section -->
        
    </div>
    <div class="span6 et-split-right">
        <h1>Keep it up</h1>
        
        <div class="row item">
           
            <div>
                <h2>Insert image of Will Power</h2>
                <p>Or some motivational quote / funny picture. It could be rotated on each reload. 
                    We nnow need some filler to make sure this pesky line<br /> to the left
                    <br /> Keeps moving ow
                    <br /> Keeps moving ow
                    <br /> Keeps moving ow
                    <br /> Keeps moving own</p>
            </div>
        </div>
        
        
        </div>
        </div>
        </div>
