<!-- This is the original code from the show.html.erb page. It is here so that it can be rendered when the user is signed in in 2 places> -->

<h1><%= @user.name %></h1>

<p> You have successfully been useful for INSERT minutes.</p>

<h4>Congratulations</h4>
