<form>
	Time: <input type="number" id="timeInput" name="timeInput">
	<input type="submit" value="submit" class="btn btn-primary">
</form>

<script>
var time = document.getElementById("timeInput"),
value =  button.form.timeInput.value;
submit.onclick = function() {
    foo(value);
}
</script>