<div id="countdown" class="center hero-unit"></div>

      <strong><h2 id="note"></h2></strong>
    
       <center><%= link_to "Stop", root_path, class: "btn btn-danger btn-xlarge" %></center> 
         
         <!--JavaScript includes--> 
        <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script src="/assets/jquery.countdown.js"></script> 
       <!--<script src="/assets/script.js"></script>-->


