<div id="countdown" class="center hero-unit"></div>

      <strong><h2 id="note"></h2></strong>

        
         
        <!-- JavaScript includes -->
        <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script src="/assets/jquery.countdown.js"></script>
       <!-- <script src="/assets/script.js"></script> -->
