@import "bootstrap";
@import "bootstrap-responsive";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}



/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}
.site-footer {
   text-align: center;
}
.site-footer > ul {
  margin: 0;
}
.site-footer li {
  display: inline-block;
  *display: inline;
  margin-right: 30px;
}



/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color:#f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }
 
 /* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}
/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;
  
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.content {
  display: block;
}

.timestamp {
  color: $grayLight;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/* Simon edits */

.btn-xlarge {
  padding: 15px 22px;
  font-size: 20px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}


#logos {
  margin: 0px auto 0 auto;
  width: 960px;
  min-height: 60px;
  background-color: #e4e4e4;
  background-image: -moz-linear-gradient(top, #eeeeee, #d5d5d5);
  background-image: -ms-linear-gradient(top, #eeeeee, #d5d5d5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#d5d5d5));
  background-image: -webkit-linear-gradient(top, #eeeeee, #d5d5d5);
  background-image: -o-linear-gradient(top, #eeeeee, #d5d5d5);
  background-image: linear-gradient(top, #eeeeee, #d5d5d5);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#d5d5d5', GradientType=0);
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #d5d5d5;
  border-bottom: 1px solid #bbbbbb;
}
#logos img {
  float: right;
  margin: 20px 30px 0 0;
}
#logos p {
  font-family: arial;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  padding: 14px 0 0 20px;
  color: black;
  /*color: #A5A5A5;*/
  text-shadow: 0px 1px 0px #fff;
}

#mini_testimonials{
  padding-top: 40px;
  padding-bottom: 100px;
}

p.bubble{
  background-color: #EEE;
  padding: 30px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-style: italic;
  font-size: 18px;
}

p.test_details{
  font-size: 16px;
}

p.test_details span{
  font-style: italic;
  color: #777;
}


.et-split, .et-split-right{
  margin-top: 30px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.et-split .item, .et-split-right .item{
  margin: 30px 0px;
}

.et-split .item .metrics{
  text-align: center;
  width: 110px;
  float: left;
  margin-right: 25px;
}

.et-split .item .cta{
  margin-left: 135px;
}

.et-split .item .cta p{
  margin: 10px 0px;
}

.et-split-right .item .icons{
  width: 100px;
  float: left;
}

.et-split-right .item .cta{
  margin-left: 100px;
}

.et-split .item .metrics h1{
  color: #49AFCD;
  font-size: 3.4em;
  margin-bottom: 10px;
}

.et-split .item .metrics p{
  color: #777;  
}


.et-split-right{
  border-left: 1px solid #CCC; 
  margin-left: 9px; 
  padding-left: 30px; 
  width: 440px;
}

h7 {
  margin: 0;
  font-size: 24px;
  line-height: 36px;
  font-family: "Crete Round", Helvetica, sans-serif;
  color: #3E454F;
  font-weight: bold;
}

/* Countdown clock */
.countdownHolder{
  width:450px;
  margin:0 auto;
  font: 40px/1.5 'Open Sans Condensed',sans-serif;
  text-align:center;
  letter-spacing:-3px;
}

.position{
  display: inline-block;
  height: 1.6em;
  overflow: hidden;
  position: relative;
  width: 1.05em;
}

.digit{
  position:absolute;
  display:block;
  width:1em;
  background-color:#444;
  border-radius:0.2em;
  text-align:center;
  color:#fff;
  letter-spacing:-1px;
}

.digit.static{
  box-shadow:1px 1px 1px rgba(4, 4, 4, 0.35);

  background-image: linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
  background-image: -o-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
  background-image: -moz-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
  background-image: -webkit-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
  background-image: -ms-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.5, #3A3A3A),
    color-stop(0.5, #444444)
  );
}

/**
 * You can use these classes to hide parts
 * of the countdown that you don't need.
 */

.countDays{  display:none !important; }
.countDiv0{ display:none !important; }
.countHours{ display:none }
.countDiv1{ display:none !important;}
.countMinutes{}
.countDiv2{}
.countSeconds{}


.countDiv{
  display:inline-block;
  width:16px;
  height:1.6em;
  position:relative;
}

.countDiv:before,
.countDiv:after{
  position:absolute;
  width:5px;
  height:5px;
  background-color:#444;
  border-radius:50%;
  left:50%;
  margin-left:-3px;
  top:0.5em;
  box-shadow:1px 1px 1px rgba(4, 4, 4, 0.5);
  content:'';
}

.countDiv:after{
  top:0.9em;
}

/* jQuery Countdown styles 1.6.0. */
.hasCountdown {
  border: 1px solid #ccc;
  background-color: #eee;
}
.countdown_rtl {
  direction: rtl;
}
.countdown_holding span {
  color: #888;
}
.countdown_row {
  clear: both;
  width: 100%;
  padding: 0px 2px;
  text-align: center;
}
.countdown_show1 .countdown_section {
  width: 98%;
}
.countdown_show2 .countdown_section {
  width: 48%;
}
.countdown_show3 .countdown_section {
  width: 32.5%;
}
.countdown_show4 .countdown_section {
  width: 24.5%;
}
.countdown_show5 .countdown_section {
  width: 19.5%;
}
.countdown_show6 .countdown_section {
  width: 16.25%;
}
.countdown_show7 .countdown_section {
  width: 14%;
}
.countdown_section {
  display: block;
  float: left;
  font-size: 75%;
  text-align: center;
}
.countdown_amount {
  font-size: 200%;
}
.countdown_descr {
  display: block;
  width: 100%;
}
