
 <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">FocusPush</a>
          <nav>
            <ul class="nav pull-right">
            <li><%= link_to "Home", root_path %></li>
            <li><a href="http://www.simonmccann.co.uk/", target="_blank">Blog</a></li>
          <% if signed_in? %>
            
            <li><%= link_to "Account", edit_user_path(current_user) %></li>
            <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        
          </ul>
          </nav>
        </div>
      </div>
    </header>

